<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">Welcome  <span class="member-name"></span></h1>
  </div>
</div>

  <div class="container">
      <div class="row justify-content-around">
        <form class="col-md-10 form-inline md-form mr-auto mb-4">
          <div class="stock-search-bar">
            <select class=" form-control form-control"id = "stockSymbols">
              <option value = "AMZN">AMZN</option>
              <option value = "GOOGL">GOOGL</option>
              <option value = "FB">FB</option>
              <option value = "DIS">DIS</option>
            </select>
            <button type="button" class="btn btn-secondary stock-search">Search</button>
          </div>
        </form>
        <div class="col-md-2">
        <button type="button" class="btn btn-secondary logoutbtn">
      <a class="logout" href="/logout">
        Logout
      </a>
        </button>
      </div>
  </div>

{{!--   
  {{#each response}}
<p>{{dataValues.stockName}}</p>
{{/each}} --}}


<div class="container">
<h2>My Stocks</h2>
<section id="stockCards" class= "row justify-content-start">



{{!-- STOCKS GO HERE --}}

</section>
</div>