<header>
  <div class="container-fluid">
    <div>
      <a class="logout" href="/logout">
        Logout
      </a>
    </div>
  </div>
<<<<<<< Updated upstream
    <p class="handledinfo"></p>
<form class="form-inline md-form mr-auto mb-4">
=======
</header>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome  <span class="member-name"></span></h1>
  </div>
</div>
>>>>>>> Stashed changes

  <form class="form-inline md-form mr-auto mb-4">
<div class="container">
<div class="row">
<div class="col">
 <select id = "stockSymbols">
               <option value = "AMZN">AMZN</option>
               <option value = "GOOGL">GOOGL</option>
               <option value = "FB">FB</option>
               <option value = "DIS">DIS</option>
             </select>
  <!-- {{!-- <input class="form-control mr-sm-2" type="text" placeholder="Enter Stock Name" aria-label="Search"> --}} -->
  <button type="button" class="btn btn-secondary stock-search">Search</button>

<<<<<<< Updated upstream
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
  
</header>


  <section id="stockCards"><h2>STOCKCARDS</h2>
    <ul id="stockcardDeck">

          {{> stock/stock-block}}

    </ul>
=======
  
  {{!-- <button class="btn aqua-gradient btn-rounded btn-sm my-0 stock-search" type="submit">Search</button> --}}
</form>
</div>

</div>


</div>
   <div class="container">
<div class="row">
<div class="col">

  <section id="stockCards"><h2>My Stocks</h2>
   

          {{> stock/stock-block}}
     
    
>>>>>>> Stashed changes
  </section>


</div>
</div>
</div>