<header>
  <div class="container-fluid">
    <div>
      <a class="logout" href="/logout">
        Logout
      </a>
    </div>
  </div>
</header>

  <p class="handledinfo"></p>
<form class="form-inline md-form mr-auto mb-4">

    <select id = "stockSymbols">
               <option value = "AMZN">AMZN</option>
               <option value = "GOOGL">GOOGL</option>
               <option value = "FB">FB</option>
               <option value = "DIS">DIS</option>
             </select>
  <!-- {{!-- <input class="form-control mr-sm-2" type="text" placeholder="Enter Stock Name" aria-label="Search"> --}} -->
  <button class="btn aqua-gradient btn-rounded btn-sm my-0 stock-search" type="submit">Search</button>
</form>

<form class="form-inline md-form mr-auto mb-4">



  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

  <section id="stockCards"><h2>STOCKCARDS</h2>
    <ul>
        {{!-- THING : {response.lastSplitFactor } --}}


      {{!-- {{#each stocks}} --}}
          {{> stock/stock-block}}
      {{!-- {{/each}} --}}
    </ul>
  </section>


