<li>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
  
  <p>{{ stockName }}</p>
  
  <p>{{ stockSymbol }}</p>

    <a href="#" class="btn btn-primary" id="delete-stock">Delete</a>
  </div>
</div>


</li>