{{!-- 

<div class="stock-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-Name"></h5>


  <p id="longName"></p>
  <p id="symbol"></p>
  <p id="percentChange"></p>
  <p id="cost"></p>

    <p class="card-stockPrice"></p>
    <p class="card-stockChangePercentage"></p>

    <a href="#" class="btn btn-primary delete-stock">Delete</a>
  </div>
</div> --}}

