<li>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    {{!-- <h5 class="card-title">{{stockName}}</h5> --}}

  <p id="thing"></p>

    <a href="#" class="btn btn-primary" id="delete-stock">Delete</a>
  </div>
</div>


</li>